<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href=#/home">NGOabroad</a>
        </div>
        <ul class="nav navbar-nav">

            <li><a href="#">International activities</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#/contact">Contact Us</a></li>
        </ul>
        <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-success-outline">Search</button>
        </form>
    </div>
</nav>

