<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Contact Information</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                    <li class="list-group-item"><b>Developer:</b> Ivelina Dimitrova</li>
                    <li class="list-group-item"><b>E-mail:</b> ivelina.dimitrova@yahoo.com</li>
                    <li class="list-group-item"><b>Phone number:</b> 2758 0521</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>